.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.square{
  border: 1px solid grey;
  display: inline;
  font-size: 25px;
  line-height: 2.5;
  background-color: white;
  width: 70px;
  cursor: pointer;
  position :relative;
}
.square:hover{
  background-color: grey;
}
.square:focus {
  outline:0 !important; 
}
.clicked{
  border: 1px solid red;
}

.game{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;
  margin: 50px auto;
}
.board{

}

.greenTriangle{
  color: green;
}

.blueSquare{
  color: blue;
}

.redHeart{
  color: red;
}

.orangeCircle{
  color: orange;
}

.yellowstar{
  color: yellowgreen;
}

.purpleCertificate{
  color: purple;
}

.gradientCrown{
  color: black;
}